<!-- START NAVIGATION -->
<div
    class="navbar navbar-default bs-dos-nav navbar-fixed-top sticky-navigation"
    role="navigation"
>
    <div class="container">
        <div class="navbar-header">
            <button
                class="navbar-toggle"
                data-toggle="collapse"
                data-target="#rock-navigation"
            >
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">JLRosende</a>
        </div>
        <nav class="collapse navbar-collapse" id="rock-navigation">
            <ul
                class="nav navbar-nav navbar-right main-navigation text-uppercase"
            >
                <li><a href="#home" class="smoothScroll">Home</a></li>
                <li><a href="#work" class="smoothScroll">My Work</a></li>
                <li><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
                <li><a href="#resume" class="smoothScroll">Resume</a></li>
                <li><a href="#about" class="smoothScroll">About</a></li>
                <li><a href="#contact" class="smoothScroll">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- END NAVIGATION -->

<!-- START HOME -->
<section id="home" class="templatemo-home">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-1"></div>
            <div class="col-md-8 col-sm-10">
                <h1 class="tm-home-title">
                    <strong>Jorge López Rosende</strong>
                </h1>
                <h2 class="tm-home-subtitle">Developer</h2>
                <p>
                    I am a professional <strong>Full Stack</strong> Developer
                    creating modern API and fresh responsive designs for
                    <strong>Web</strong> and <strong>Mobile</strong>. Let us
                    work together. Thank you.
                </p>
                <a
                    href="#work"
                    class="btn btn-default smoothScroll tm-view-more-btn"
                    >Let's Begin</a
                >
            </div>
            <div class="col-md-2 col-sm-1"></div>
        </div>
    </div>
</section>
<!-- END HOME -->

<!-- START work -->
<section id="work" class="tm-padding-top-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-11">
                <h2 class="title">My <strong>Work</strong></h2>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="work-wrapper">
                    <fa-icon [icon]="['fas', 'code']" size="3x"></fa-icon>
                    <h3 class="text-uppercase tm-work-h3">FULL STACK</h3>
                    <hr />
                    <p>
                        I have experience in the development of REST-FULL and
                        GraphQL APIs, and in the development of applications
                        that consume these APIs
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="work-wrapper">
                    <fa-icon
                        [icon]="['fab', 'connectdevelop']"
                        size="3x"
                    ></fa-icon>
                    <h3 class="text-uppercase tm-work-h3">DevOps</h3>
                    <hr />
                    <p>
                        I have developed projects and worked on all phases of
                        development. I started with the development of the idea,
                        the development of its functionalities, the testing
                        phase, and its subsequent release to production. With
                        this methodology, I have worked in Web, Mobile, and
                        desktop applications.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="work-wrapper">
                    <fa-icon [icon]="['fas', 'brain']" size="3x"></fa-icon>
                    <h3 class="text-uppercase tm-work-h3">AI</h3>
                    <hr />
                    <p>
                        I am currently learning this field of computer science.
                        Testing my skills and developing different personal
                        projects to polish and strengthen this knowledge.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END work -->

<!-- START PORTFOLIO -->
<section id="portfolio" class="tm-portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow bounce">
                <div class="title">
                    <h2 class="tm-portfolio-title">
                        My <strong>Portfolio</strong>
                    </h2>
                </div>

                <!-- START ISO SECTION -->
                <div class="iso-section">
                    <ul class="filter-wrapper clearfix">
                        <li>
                            <a
                                href="#"
                                class="opc-main-bg selected"
                                data-filter="*"
                                >All</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="opc-main-bg"
                                data-filter=".p-languajes"
                                >Programming Languages</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="opc-main-bg"
                                data-filter=".projects"
                                >Projects</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="opc-main-bg"
                                data-filter=".experience"
                                >Experience</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="opc-main-bg"
                                data-filter=".artificial-inteligence"
                                >AI</a
                            >
                        </li>
                    </ul>
                    <div class="iso-box-section">
                        <div class="iso-box-wrapper col4-iso-box">
                            <div
                                class="iso-box p-languajes col-md-3 col-sm-3 col-xs-12"
                            >
                                <div class="portfolio-thumb">
                                    <img
                                        src="assets/programming/php_v1.png"
                                        class="fluid-img"
                                        alt="PHP logo"
                                    />
                                    <div class="portfolio-overlay">
                                        <h3 class="portfolio-item-title">
                                            PHP
                                        </h3>
                                        <p>Back-End Languaje.</p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="iso-box p-languajes col-md-3 col-sm-3 col-xs-12"
                            >
                                <div class="portfolio-thumb">
                                    <img
                                        src="assets/programming/css_html_js_v1.png"
                                        class="fluid-img"
                                        alt="Web languajes (Html, Css, Js) logs"
                                    />
                                    <div class="portfolio-overlay">
                                        <h3 class="portfolio-item-title">
                                            CSS HTML JS
                                        </h3>
                                        <p>
                                            Common Front-End languajes. JS is
                                            used to enbackn end with node.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="iso-box p-languajes col-md-3 col-sm-3 col-xs-12"
                            >
                                <div class="portfolio-thumb">
                                    <img
                                        src="assets/programming/python_v1.png"
                                        class="fluid-img"
                                        alt="Python logo"
                                    />
                                    <div class="portfolio-overlay">
                                        <h3 class="portfolio-item-title">
                                            PYTHON
                                        </h3>
                                        <p>
                                            Back-End Languaje, use in scripting
                                            and Artificial inteligence.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="iso-box p-languajes col-md-3 col-sm-3 col-xs-12"
                            >
                                <div class="portfolio-thumb">
                                    <img
                                        src="assets/programming/java_v1.png"
                                        class="fluid-img"
                                        alt="Java logo"
                                    />
                                    <div class="portfolio-overlay">
                                        <h3 class="portfolio-item-title">
                                            JAVA
                                        </h3>
                                        <p>
                                            Multisystem application development.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="iso-box p-languajes col-md-3 col-sm-3 col-xs-12"
                            >
                                <div class="portfolio-thumb">
                                    <img
                                        src="assets/programming/cpp_v1.png"
                                        class="fluid-img"
                                        alt="C++ logo"
                                    />
                                    <div class="portfolio-overlay">
                                        <h3 class="portfolio-item-title">
                                            C++
                                        </h3>
                                        <p>
                                            Core and low languaje porgramming.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="iso-box p-languajes col-md-3 col-sm-3 col-xs-12"
                            >
                                <div class="portfolio-thumb">
                                    <img
                                        src="assets/programming/sql_v1.png"
                                        class="fluid-img"
                                        alt="SQL logo"
                                    />
                                    <div class="portfolio-overlay">
                                        <h3 class="portfolio-item-title">
                                            SQL
                                        </h3>
                                        <p>
                                            Most common database query languaje.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="iso-box p-languajes col-md-3 col-sm-3 col-xs-12"
                            >
                                <div class="portfolio-thumb">
                                    <img
                                        src="assets/programming/graphql_v1.png"
                                        class="fluid-img"
                                        alt="GraphQL logo"
                                    />
                                    <div class="portfolio-overlay">
                                        <h3 class="portfolio-item-title">
                                            GRAPHQL
                                        </h3>
                                        <p>
                                            Database query languaje based on
                                            graphs
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="iso-box p-languajes col-md-3 col-sm-3 col-xs-12"
                            >
                                <div class="portfolio-thumb">
                                    <img
                                        src="assets/programming/typescript_v1.png"
                                        class="fluid-img"
                                        alt="Typescript logo"
                                    />
                                    <div class="portfolio-overlay">
                                        <h3 class="portfolio-item-title">
                                            TYPESCRIPT
                                        </h3>
                                        <p>
                                            Powerful languaje to develop en most
                                            famous front-end and back-end
                                            frameworks.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="iso-box experience col-md-3 col-sm-3 col-xs-12"
                            >
                                <a
                                    target="_blank"
                                    href="https://espartapp.com/"
                                >
                                    <div class="portfolio-thumb">
                                        <img
                                            src="assets/images/logo-espartapp.jpg"
                                            class="fluid-img"
                                            alt="Espartapp logo"
                                        />
                                        <div class="portfolio-overlay">
                                            <h3 class="portfolio-item-title">
                                                Espartapp
                                            </h3>
                                            <p>
                                                Programmer | February 2015 -
                                                August 2016
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div
                                class="iso-box experience col-md-3 col-sm-3 col-xs-12"
                            >
                                <a
                                    target="_blank"
                                    href="https://test1.look4bar.com/"
                                >
                                    <div class="portfolio-thumb">
                                        <img
                                            src="assets/images/logo-look4bar.jpg"
                                            class="fluid-img"
                                            alt="Look4Bar logo"
                                        />
                                        <div class="portfolio-overlay">
                                            <h3 class="portfolio-item-title">
                                                Look4Bar
                                            </h3>
                                            <p>
                                                Developer | February 2017 -
                                                March 2020
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div
                                class="iso-box experience col-md-3 col-sm-3 col-xs-12"
                            >
                                <a
                                    target="_blank"
                                    href="https://test.goobe.art"
                                >
                                    <div class="portfolio-thumb">
                                        <img
                                            src="assets/images/logo-goobeart.jpg"
                                            class="fluid-img"
                                            alt="GoobrArt logo"
                                        />
                                        <div class="portfolio-overlay">
                                            <h3 class="portfolio-item-title">
                                                GoobrArt
                                            </h3>
                                            <p>
                                                Dev-Ops | March 2020 - Actualy
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div
                                class="iso-box projects col-md-3 col-sm-3 col-xs-12"
                            >
                                <a
                                    target="_blank"
                                    href="https://gitlab.com/projects-upm/DesTapaIS"
                                >
                                    <div class="portfolio-thumb">
                                        <img
                                            src="assets/images/project-destapais.jpg"
                                            class="fluid-img"
                                            alt="DesTapaIS img"
                                        />
                                        <div class="portfolio-overlay">
                                            <h3 class="portfolio-item-title">
                                                DesTapaIS
                                            </h3>
                                            <p>
                                                University Project - An
                                                application to create and save
                                                the best tapas of your favorite
                                                places and share them with your
                                                friends
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div
                                class="iso-box projects col-md-3 col-sm-3 col-xs-12"
                            >
                                <a
                                    target="_blank"
                                    href="https://gitlab.com/projects-upm/sokoban-final-project"
                                >
                                    <div class="portfolio-thumb">
                                        <img
                                            src="assets/images/project-sokoban.jpg"
                                            class="fluid-img"
                                            alt="Sokoban img"
                                        />
                                        <div class="portfolio-overlay">
                                            <h3 class="portfolio-item-title">
                                                Sokoban
                                            </h3>
                                            <p>
                                                University Project - Sokoban
                                                Game friends
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div
                                class="iso-box projects artificial-inteligence col-md-3 col-sm-3 col-xs-12"
                            >
                                <a
                                    target="_blank"
                                    href="https://gitlab.com/projects-upm/metro-ia"
                                >
                                    <div class="portfolio-thumb">
                                        <img
                                            src="assets/images/project-metroia.jpg"
                                            class="fluid-img"
                                            alt="Subway Search route img"
                                        />
                                        <div class="portfolio-overlay">
                                            <h3 class="portfolio-item-title">
                                                Subway Search route
                                            </h3>
                                            <p>
                                                University Project - Search the
                                                best otimal path in a Tashkent
                                                Subway
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div
                                class="iso-box projects artificial-inteligence col-md-3 col-sm-3 col-xs-12"
                            >
                                <a
                                    target="_blank"
                                    href="https://gitlab.com/projects-upm/Twitter-SI"
                                >
                                    <div class="portfolio-thumb">
                                        <img
                                            src="assets/images/project-twittersi.jpg"
                                            class="fluid-img"
                                            alt="Twitter Fake Detector img"
                                        />
                                        <div class="portfolio-overlay">
                                            <h3 class="portfolio-item-title">
                                                Twitter Fake Detector
                                            </h3>
                                            <p>
                                                University Project - Detect if a
                                                twitter acount write tweets with
                                                fake information
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- <div
                                class="iso-box wordpress col-md-3 col-sm-3 col-xs-12"
                            >
                                <div class="portfolio-thumb">
                                    <img
                                        src="assets/images/portfolio-img8.jpg"
                                        class="fluid-img"
                                        alt="portfolio img"
                                    />
                                    <div class="portfolio-overlay">
                                        <h3 class="portfolio-item-title">
                                            UX Design
                                        </h3>
                                        <p>
                                            Lorem ipsum dolor sit amet,
                                            consectetuer adipiscing elit, sed
                                            diam nonumm.
                                        </p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END PORTFOLIO -->

<!-- START RESUME -->
<section id="resume" class="tm-padding-top-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="title">My <strong>Info</strong></h2>
                <p>
                    <span class="tm-info-label">Name</span> Jorge López Rosende
                </p>
                <p>
                    <span class="tm-info-label">Birthday</span> January 26, 1995
                </p>
                <p>
                    <span class="tm-info-label">Address</span>
                    Guadarrama, Madrid, Spain
                </p>
                <p><span class="tm-info-label">Phone</span> +34 626738664</p>
                <p>
                    <span class="tm-info-label">Email</span>
                    jorgelopezrosende@hotmail.com
                </p>
                <p>
                    <span class="tm-info-label">Website</span>
                    <a
                        href="https://portfolio.jlrosende.com"
                        class="tm-red-text"
                        >portfolio.jlrosende.com</a
                    >
                </p>
                <p>
                    <span class="tm-info-label">CV</span>
                    <a
                        href="assets/doc/CV-Ingles-Octubre-2020.pdf"
                        class="tm-red-text"
                        >Download my CV</a
                    >
                </p>
            </div>
            <div class="col-md-6 col-sm-6">
                <h2 class="title"><strong>Frameworks</strong> Skills</h2>
                <p>
                    I keep learning these frameworks and discovering others that
                    will speed up my development
                </p>
                <h4 class="tm-progress-label" style="color: #ff2d20">
                    <fa-icon [icon]="['fab', 'laravel']" size="lg"></fa-icon>
                    Laravel
                    <small class="progress-percent-small">90%</small>
                </h4>
                <div class="progress tm-progress">
                    <div
                        class="progress-bar progress-bar-danger"
                        role="progressbar"
                        aria-valuenow="90"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 90%"
                    ></div>
                </div>
                <h4 class="tm-progress-label" style="color: #e23237">
                    <fa-icon [icon]="['fab', 'angular']" size="lg"></fa-icon>
                    Angular
                    <small class="progress-percent-small">80%</small>
                </h4>
                <div class="progress tm-progress">
                    <div
                        class="progress-bar progress-bar-danger"
                        role="progressbar"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 80%"
                    ></div>
                </div>

                <h4 class="tm-progress-label" style="color: #2396ed">
                    <fa-icon [icon]="['fab', 'docker']" size="lg"></fa-icon>
                    Docker
                    <small class="progress-percent-small">70%</small>
                </h4>
                <div class="progress tm-progress">
                    <div
                        class="progress-bar progress-bar-danger"
                        role="progressbar"
                        aria-valuenow="70"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 70%"
                    ></div>
                </div>
                <h4 class="tm-progress-label" style="color: #326de6">
                    <svg
                        class="fa-lg"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true"
                        focusable="false"
                        width="1.03em"
                        height="1em"
                        style="
                            -ms-transform: rotate(360deg);
                            -webkit-transform: rotate(360deg);
                            transform: rotate(360deg);
                        "
                        preserveAspectRatio="xMidYMid meet"
                        viewBox="0 0 256 249"
                    >
                        <path
                            d="M82.085 244.934c-5.946 0-11.561-2.642-15.36-7.432L8.92 165.657c-3.799-4.79-5.285-10.9-3.799-16.847l20.645-89.682c1.321-5.946 5.285-10.736 10.736-13.378l83.571-39.97c2.643-1.32 5.616-1.981 8.589-1.981c2.973 0 5.945.66 8.588 1.982l83.572 39.804c5.45 2.642 9.414 7.432 10.735 13.378l20.645 89.682c1.322 5.946 0 12.057-3.798 16.847l-57.807 71.845c-3.799 4.624-9.414 7.432-15.36 7.432l-93.15.165z"
                            fill="#326DE6"
                        />
                        <path
                            d="M128.495 7.928c2.313 0 4.625.495 6.772 1.486l83.572 39.804c4.294 2.147 7.597 6.111 8.588 10.736l20.645 89.682c1.156 4.79 0 9.745-3.138 13.543l-57.806 71.846c-2.973 3.798-7.598 5.945-12.387 5.945H82.085c-4.79 0-9.414-2.147-12.387-5.945l-57.806-71.846c-2.973-3.798-4.13-8.753-3.138-13.543l20.645-89.682c1.156-4.79 4.294-8.754 8.588-10.736L121.56 9.25c2.147-.826 4.624-1.321 6.936-1.321zm0-7.763c-3.468 0-6.936.826-10.24 2.312l-83.571 39.97c-6.607 3.138-11.231 8.918-12.883 16.02L1.156 148.15c-1.651 7.102 0 14.369 4.625 20.15l57.806 71.845c4.46 5.615 11.231 8.753 18.333 8.753h92.655c7.102 0 13.874-3.138 18.333-8.753l57.807-71.846c4.624-5.615 6.276-13.047 4.624-20.15l-20.645-89.682c-1.651-7.102-6.276-12.882-12.882-16.02L138.57 2.476C135.432.991 131.964.165 128.495.165z"
                            fill="#FFF"
                        />
                        <path
                            d="M212.232 142.534c-.165 0-.165 0 0 0h-.165c-.165 0-.33 0-.33-.165c-.33 0-.66-.165-.991-.165c-1.156-.165-2.147-.33-3.138-.33c-.496 0-.991 0-1.652-.166h-.165c-3.468-.33-6.276-.66-8.919-1.486c-1.156-.496-1.486-1.156-1.817-1.817c0-.165-.165-.165-.165-.33l-2.147-.66a65.33 65.33 0 0 0-1.156-23.289a68.054 68.054 0 0 0-9.249-21.636l1.652-1.486v-.33c0-.826.165-1.652.825-2.478c1.982-1.817 4.46-3.303 7.433-5.12c.495-.33.99-.495 1.486-.826c.991-.495 1.817-.99 2.808-1.651c.165-.165.495-.33.826-.66c.165-.166.33-.166.33-.331c2.312-1.982 2.808-5.285 1.156-7.433c-.826-1.156-2.312-1.816-3.799-1.816c-1.32 0-2.477.495-3.633 1.321l-.33.33c-.33.165-.496.496-.826.661c-.826.826-1.487 1.486-2.147 2.312c-.33.33-.66.826-1.156 1.156c-2.313 2.478-4.46 4.46-6.607 5.946c-.495.33-.99.496-1.486.496c-.33 0-.661 0-.991-.166h-.33l-1.983 1.322c-2.147-2.312-4.459-4.294-6.771-6.276a65.958 65.958 0 0 0-34.519-13.709l-.165-2.147l-.33-.33c-.496-.496-1.156-.991-1.322-2.147c-.165-2.643.166-5.616.496-8.919v-.165c0-.496.165-1.156.33-1.652c.165-.99.33-1.982.496-3.138v-1.486c0-2.973-2.313-5.45-5.12-5.45c-1.322 0-2.643.66-3.634 1.651c-.99.991-1.486 2.312-1.486 3.799v1.321c0 1.156.165 2.147.495 3.138c.165.496.165.991.33 1.652v.165c.33 3.303.826 6.276.496 8.919c-.165 1.156-.826 1.651-1.321 2.147l-.33.33l-.166 2.147c-2.973.33-5.946.66-8.919 1.321c-12.717 2.808-23.948 9.25-32.701 18.498l-1.652-1.156h-.33c-.33 0-.661.165-.991.165c-.496 0-.991-.165-1.487-.495c-2.147-1.486-4.294-3.634-6.606-6.111c-.33-.33-.66-.826-1.156-1.156c-.661-.826-1.322-1.487-2.148-2.312c-.165-.166-.495-.33-.825-.661c-.165-.165-.33-.165-.33-.33a5.772 5.772 0 0 0-3.634-1.322c-1.487 0-2.973.661-3.799 1.817c-1.652 2.147-1.156 5.45 1.156 7.432c.165 0 .165.166.33.166c.33.165.496.495.826.66c.991.66 1.817 1.156 2.808 1.652c.496.165.991.495 1.487.826c2.972 1.816 5.45 3.303 7.432 5.12c.826.825.826 1.651.826 2.477v.33l1.651 1.487c-.33.495-.66.826-.826 1.321c-8.258 13.048-11.396 28.408-9.249 43.603l-2.147.66c0 .166-.165.166-.165.33c-.33.661-.826 1.322-1.817 1.817c-2.477.826-5.45 1.157-8.918 1.487h-.166c-.495 0-1.156 0-1.651.165c-.991 0-1.982.165-3.138.33c-.33 0-.66.166-.991.166c-.165 0-.33 0-.496.165c-2.973.66-4.79 3.468-4.294 6.11c.496 2.313 2.643 3.8 5.285 3.8c.496 0 .826 0 1.322-.166c.165 0 .33 0 .33-.165c.33 0 .66-.165.99-.165c1.157-.33 1.983-.66 2.974-1.156c.495-.165.99-.496 1.486-.66h.165c3.138-1.157 5.946-2.148 8.589-2.478h.33c.991 0 1.652.495 2.147.826c.165 0 .165.165.33.165l2.313-.33c3.964 12.221 11.561 23.122 21.636 31.05c2.312 1.816 4.624 3.303 7.102 4.79l-.991 2.146c0 .166.165.166.165.33c.33.661.66 1.487.33 2.643c-.99 2.478-2.477 4.955-4.294 7.763v.165c-.33.496-.66.826-.99 1.321c-.661.826-1.157 1.652-1.818 2.643c-.165.165-.33.495-.495.826c0 .165-.165.33-.165.33c-1.321 2.808-.33 5.946 2.147 7.102c.66.33 1.321.496 1.982.496c1.982 0 3.964-1.322 4.955-3.139c0-.165.165-.33.165-.33c.165-.33.33-.66.495-.826c.496-1.156.661-1.982.991-2.973l.496-1.486c1.156-3.303 1.982-5.946 3.468-8.258c.66-.991 1.487-1.156 2.147-1.487c.165 0 .165 0 .33-.165l1.157-2.147c7.267 2.808 15.195 4.294 23.122 4.294c4.79 0 9.745-.495 14.37-1.651a73.402 73.402 0 0 0 8.588-2.478l.99 1.817c.166 0 .166 0 .331.165c.826.165 1.486.496 2.147 1.487c1.321 2.312 2.312 5.12 3.468 8.258v.165l.496 1.486c.33.991.495 1.982.99 2.973c.166.33.331.496.496.826c0 .165.166.33.166.33c.99 1.982 2.972 3.139 4.954 3.139c.661 0 1.322-.166 1.982-.496c1.156-.66 2.147-1.652 2.478-2.973c.33-1.321.33-2.808-.33-4.129c0-.165-.166-.165-.166-.33c-.165-.33-.33-.66-.495-.826c-.496-.991-1.156-1.817-1.817-2.643c-.33-.495-.66-.825-.99-1.32v-.166c-1.818-2.808-3.47-5.285-4.295-7.763c-.33-1.156 0-1.816.165-2.642c0-.165.165-.165.165-.33l-.826-1.982c8.754-5.12 16.186-12.388 21.802-21.306c2.973-4.625 5.285-9.745 6.936-14.865l1.982.33c.166 0 .166-.165.33-.165c.661-.33 1.157-.825 2.148-.825h.33c2.643.33 5.45 1.32 8.589 2.477h.165c.495.165.99.495 1.486.66c.991.496 1.817.826 2.973 1.157c.33 0 .66.165.991.165c.165 0 .33 0 .495.165c.496.165.826.165 1.322.165c2.477 0 4.624-1.651 5.285-3.798c0-1.982-1.817-4.625-4.79-5.45zm-76.47-8.093l-7.267 3.469l-7.267-3.469l-1.816-7.762l4.954-6.276h8.093l4.955 6.276l-1.651 7.762zm43.108-17.176a52.078 52.078 0 0 1 1.156 16.68l-25.27-7.266c-2.312-.66-3.633-2.973-3.138-5.285c.165-.661.496-1.322.991-1.817l19.985-18.003c2.807 4.625 4.954 9.91 6.276 15.69zm-14.204-25.6l-21.636 15.36c-1.817 1.156-4.295.825-5.781-.991c-.495-.496-.66-1.157-.826-1.817l-1.486-26.922a50.13 50.13 0 0 1 29.729 14.37zM116.769 78.12c1.817-.33 3.468-.66 5.285-.99l-1.486 26.425c-.165 2.312-1.982 4.294-4.46 4.294c-.66 0-1.486-.165-1.982-.495L92.16 91.665c6.772-6.772 15.195-11.397 24.609-13.544zm-32.537 23.453l19.654 17.507c1.817 1.487 1.982 4.294.496 6.111c-.496.66-1.156 1.156-1.982 1.322l-25.6 7.432c-.991-11.231 1.486-22.627 7.432-32.372zm-4.46 44.759l26.262-4.46c2.147-.165 4.129 1.322 4.624 3.469c.165.99.165 1.817-.165 2.643l-10.075 24.278c-9.249-5.946-16.681-15.03-20.645-25.93zm60.285 32.867c-3.799.826-7.598 1.321-11.562 1.321c-5.78 0-11.396-.99-16.68-2.642l13.047-23.618c1.321-1.487 3.468-2.147 5.285-1.156a7.04 7.04 0 0 1 1.982 1.816l12.717 22.958c-1.486.495-3.138.826-4.79 1.321zm32.206-22.957c-4.129 6.606-9.58 11.891-15.855 16.02l-10.405-24.94c-.496-1.981.33-4.128 2.312-5.12c.66-.33 1.486-.495 2.312-.495l26.426 4.46c-.991 3.633-2.643 6.937-4.79 10.075z"
                            fill="#FFF"
                        />
                    </svg>
                    Kubernetes <small class="progress-percent-small">35%</small>
                </h4>
                <div class="progress tm-progress">
                    <div
                        class="progress-bar progress-bar-danger"
                        role="progressbar"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 35%"
                    ></div>
                </div>
                <h4 class="tm-progress-label" style="color: #ed8e24">
                    <svg
                        class="fa-lg"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true"
                        focusable="false"
                        width="0.94em"
                        height="1em"
                        style="
                            -ms-transform: rotate(360deg);
                            -webkit-transform: rotate(360deg);
                            transform: rotate(360deg);
                        "
                        preserveAspectRatio="xMidYMid meet"
                        viewBox="0 0 256 274"
                    >
                        <path
                            d="M145.726 42.065v42.07l72.861 42.07v-42.07l-72.86-42.07zM0 84.135v42.07l36.43 21.03V105.17L0 84.135zm109.291 21.035l-36.43 21.034v126.2l36.43 21.035v-84.135l36.435 21.035v-42.07l-36.435-21.034V105.17z"
                            fill="#E55B2D"
                        />
                        <path
                            d="M145.726 42.065L36.43 105.17v42.065l72.861-42.065v42.065l36.435-21.03v-84.14zM255.022 63.1l-36.435 21.035v42.07l36.435-21.035V63.1zm-72.865 84.135l-36.43 21.035v42.07l36.43-21.036v-42.07zm-36.43 63.104l-36.436-21.035v84.135l36.435-21.035V210.34z"
                            fill="#ED8E24"
                        />
                        <path
                            d="M145.726 0L0 84.135l36.43 21.035l109.296-63.105l72.861 42.07L255.022 63.1L145.726 0zm0 126.204l-36.435 21.03l36.435 21.036l36.43-21.035l-36.43-21.03z"
                            fill="#F8BF3C"
                        />
                    </svg>
                    Tensorflow
                    <small class="progress-percent-small">30%</small>
                </h4>
                <div class="progress tm-progress">
                    <div
                        class="progress-bar progress-bar-danger"
                        role="progressbar"
                        aria-valuenow="30"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 30%"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END RESUME -->

<!-- START ABOUT -->
<section id="about" class="tm-about" style="position: relative">
    <span
        style="
            background-color: rgba(255, 255, 255, 0.9);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        "
    ></span>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-7">
                <div class="title" style="padding-bottom: 10px">
                    <h2>Professional <strong>Goals</strong></h2>
                </div>
                <p style="color: #303030">
                    I am looking to work in the field of artificial
                    intelligence, helping in the development of new models. I
                    want to keep growing as a programmer, being able to work on
                    large projects.
                </p>
                <div
                    class="title"
                    style="padding-bottom: 10px; padding-top: 20px"
                >
                    <h2 class="tm-red-text">About <strong>me</strong></h2>
                </div>
                <p style="color: #303030">
                    My interest in computers appeared with my first PC, and I
                    have not stopped learning about computers from that moment.
                    I love discovering new technologies and applying them to
                    future developments. I am a very proactive person, being
                    able to take the initiative in the projects to make design
                    decisions in a reasoned way. I have a great learning
                    capacity that allows my integration into new projects. My
                    experience as an athlete and as a coach has taught me to
                    manage and plan time and resources well. Also, to know how
                    to act in cases of tension and stress, being able to
                    motivate a team to give the best of themselves.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- END ABOUT -->

<!-- START SOCIAL -->
<!-- <section id="social" class="tm-social">
    <div class="container">
        <div class="row">
            <div
                class="col-md-4 col-sm-4 wow rotateInUpLeft"
                data-wow-delay="0.3s"
            >
                <div class="media facebook">
                    <a href="#">
                        <div class="media-object pull-left">
                            <i class="fa fa-facebook"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading tm-social-title">
                                Follow me on
                            </h4>
                            <h3>Social Facebook</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div
                class="col-md-4 col-sm-4 wow rotateInUpLeft"
                data-wow-delay="0.6s"
            >
                <div class="media twitter">
                    <a href="#">
                        <div class="media-object pull-left">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading tm-social-title">
                                Tweet me on
                            </h4>
                            <h3>Social Twitter</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div
                class="col-md-4 col-sm-4 wow rotateInUpLeft"
                data-wow-delay="0.9s"
            >
                <div class="media pinterest">
                    <a href="#">
                        <div class="media-object pull-left">
                            <i class="fa fa-pinterest"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading tm-social-title">
                                Pin me on
                            </h4>
                            <h3>Social Pinterest</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- END SOCIAL -->

<!-- START CONTACT -->
<!-- <section id="contact" class="tm-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title">Drop <strong>me a line</strong></h2>
                <hr />
            </div>
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-10">
                <form action="#" method="post">
                    <div class="col-md-6 col-sm-6">
                        <input
                            class="form-control"
                            type="text"
                            placeholder="Your Name"
                        />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <input
                            class="form-control"
                            type="email"
                            placeholder="Your Email"
                        />
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <input
                            class="form-control"
                            type="text"
                            placeholder="Your Subject"
                        />
                        <textarea
                            class="form-control"
                            placeholder="Your Message"
                            rows="6"
                        ></textarea>
                    </div>
                    <div
                        class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8"
                    >
                        <input
                            class="form-control"
                            type="submit"
                            value="SHOOT MESSAGE"
                        />
                    </div>
                </form>
            </div>
            <div class="col-md-1 col-sm-1"></div>
        </div>
    </div>
</section> -->
<!-- END CONTACT -->

<router-outlet></router-outlet>
